.sort {
    display: flex;
    align-items: center;
    gap: 40px;

    & button {
        cursor: pointer;
        border: none;
        background: none;
        font-family: var(--font-noto-sans), sans-serif;
        font-size: 16px;
        font-weight: normal;
    }

    & button.active {
        color: var(--primary);
        font-weight: bold;
    }
}

.sortIcon {
    display: none;
}


.active .sortIcon {
    display: inline-block;
    margin-right: 8px;
}
