.firstLevel {
    color: grey;
}

.firstLevelActive {
    color: red;
}

.secondLevel {
    color: purple;
}

.secondLevelBlock {
    color: blue;
}

.secondLevelBlockOpened {
    color: cyan;
}

.thirdLevel {
    color: orange;
}

.thirdLevelActive {
    color: darkgoldenrod;
}
